*
{  
    background-color: whitesmoke;
    font-family: sans-serif;
    color: black;
}

#logo
{
    position: fixed;
    left: 1%;
    background-color: #8ac2e6;
}

h1
{
    color: royalblue;
}

#Content1 h2, #Content2 h2
{
    color: cornflowerblue;
}

#Sommario h2, nav h2
{
    color: cadetblue;
}

h3
{
    font-size: 20px;
    color: cornflowerblue;
}

a
{  
    font-style: italic;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

a:visited, footer > *
{
    color: slategray;
}

#Content2 form
{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #e6ffe6;
    border: 1px solid cadetblue;
}

form label
{
    display: inline-block;
    width: 45%;
    text-align: initial;
    background-color: inherit;
    color: cadetblue;
    float: left;
}

form input
{
    display: inline-block;
    width: 45%;
    background-color: transparent;
}

form textarea
{
    display: inline-block;
    width: 100%;
    background-color: transparent;
    border-style: inset;
}

input[type='submit']
{
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    position: relative;
    alignment-baseline: central;
    alignment-adjust: middle;
    background-color: #ffffe6;
}

input[type='submit']:hover
{
    color: black;
    border-color: #404040;
}

input:focus, textarea:focus
{
    color: black;
    border-color: #404040;
    background-color: #ccffcc;   
}

table
{
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-collapse: collapse;
    width: 98%;
}

th, td
{
    border-bottom: 1px solid cadetblue;
    padding: 2px;
    width: 20%;
    text-align: center;
}

tr:nth-child(even) *
{
    background-color: #e6ffe6;
}

th
{
    background-color: lightseagreen;
    color: white;
}

td > img
{
    height: 75px;
    width: 75px;
}

header > h1
{
    position: fixed;
    text-align: center;
    text-shadow: 2px 2px darkblue;
}

#Sommario
{
    position: fixed;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border: 1px solid cadetblue;
}

#Sommario
{  
    background-color: #e6ffe6;
}

#Content1, #Content2
{
    position: fixed;
    overflow-y: auto;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

nav
{
    position: fixed;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border: 1px solid cadetblue;
}

nav
{
    display: inline;
    background-color: #ccffcc;  
}

nav *, #Sommario *
{
    background-color: transparent;  
}

footer
{
    position: fixed;
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    font-style: oblique;
    background-color: #e5ccff;
    color: slategray;
}

@media screen and (min-width: 1024px)
{ 
    *
    {
        font-size: 16px;   
    }
    
    #logo
    {
        padding-left: 40%;
        padding-right: 40%;
        width: 18%;
        height: 16%;
    }
    
    header > h1
    {
        top: 18%;
        width: 98%;
    }
    
    h1
    {
        font-size: 21px;
    }
    
    h2
    {
        font-size: 20px;
    }

    h3
    {
        font-size: 19px;
    }
    
    table
    {
        font-size: 14px;
    }
    
    #Sommario
    {
        left: 1%;
        top: 28%;
        width: 8%;
        height: 66%;
        padding-top: 2%;
        margin-bottom: 2%;
    }
    
    #Content1, #Content2
    {
        top: 28%;
        height: 60%;
        margin-bottom: 2%;
    }
    
    #Content1
    {
        left: 14%;
        width: 68%;
    }
    
    #Content2
    {
        left: 1%;
        width: 84%;
    }
   
    nav 
    {
        top: 28%;
        right: 1%;
        width: 8%;
        height: 66%;
        padding-top: 2%;
        margin-bottom: 2%;
        font-size: 14px;
    }
    
    footer
    {
        left: 39%;
        bottom: 1%;
        width: 20%;
        height: 9%;
        font-size: 14px; 
    }
}


@media screen and (min-width: 481px) and (max-width: 1023px)
{
    *
    {
        font-size: 14px;   
    }
    
    #logo
    {
        padding-left: 40%;
        padding-right: 40%;
        width: 18%;
        height: 12%;
    }
    
    header > h1
    {
        top: 13%;
        width: 98%;
    }
    
    h1
    {
        font-size: 16px;
    }
    
    h2
    {
        font-size: 15px;
    }

    h3
    {
        font-size: 14px;
    }
       
    table
    {
        font-size: 13px;
    }
    
    table img
    {
        width: 50px;
        height: 50px;
    }
    
    #Sommario
    {
        left: 1%;
        top: 21%;
        width: 14%;
        height: 52.5%;
        padding-top: 2%;
    }
    
    #Content1, #Content2
    {
        top: 21%;   
        height: 56.5%;
    }
    
    #Content1
    {
        left: 20%;
        width: 77%;        
    }
    
    #Content2
    {
        left: 1%;
        width:94%;
    }
   
    nav 
    {
        left: 1%;
        top: 79%;
        width: 94%;
        height: 11%;
    }
    
    nav h2
    {
        position: relative;
        float:left;
        display: inline;
        left: 20%;
    }
    
    nav a
    {
        position: relative;
        padding-top: 1%;
        left: 12%;
        display: inline;
    }
    
    footer
    {
        left: 1%;
        top: 91%;
        width: 94%;
        height: 8%;
        font-size: 12px;
        
    }
    
    footer *
    {
        font-size: 14px;        
    }
}


@media screen and (max-width: 481px)
{ 
    *
    {
        font-size: 12px;   
    }
    
    #logo
    {
        top: 1%;
        height: 14%;
        width: 35%;
        padding-left: 32.5%;
        padding-right: 32.5%; 
    }
    
    td > img
    {
        width: 20px;
        height: 20px;
    }
    
    h1
    {
        font-size: 18px;
    }
    
    h2
    {
        font-size: 16px;
    }

    h3
    {
        font-size: 14px;
    }
    
    header > h1
    {
        top: 14%;
    }
    
    #Sommario
    {
        top: 16%;
        height: 10%;
    }
    
    #Sommario h2
    {
        position: relative;
        float:left;
        display: inline;
        left: 22%;
    }
    
    #Sommario a
    {
        position: relative;
        top: 18%;
        left: 18%;
        display: inline;
    }
    
    #Content1
    {
        top: 27%;
        height: 55%;
    }
    
    #Content2
    {
        top: 16%;
        height: 66%;
    }
    
    #Sommario, #Content1, #Content2, nav, footer
    {
        left: 1%;
        width: 93.5%;
    }
    
    nav 
    {
        top: 83%;
        height: 7%;
    }
    
    nav h2
    {
        position: relative;
        float:left;
        display: inline;
        left: 20%;
    }
    
    nav a
    {
        position: relative;
        top: 1%;
        left: 12%;
        display: inline;
    }
    
    footer
    {
        top: 92%;
        height: 7%;
        font-size: 10px;
    }
}